<!-- <div class="resto-cards" *ngIf="!!data && !!data.length && data.length > 0">
{{data[0]?.data?.name}}
</div>
<div class="resto-cards">

</div>
<div class="resto-cards">

</div>
<div class="resto-cards">

</div> -->

<link *ngIf="!!data && !!data.length && data.length > 0" class="res-card">

      <!-- <h3>{{name}}</h3>
      <h4>{{cuisines.join(", ")}}</h4>
      <h4>{{avgRating}} stars</h4>
      <h4>₹{{costForTwo / 100}} FOR TWO</h4>
      <h4>{{deliveryTime}} minutes</h4> -->
    <li class="resto-cards"   *ngFor="let item of data;">
      <div (click)="clicked($event, item.data.id)" [routerLink]="['/about']">
      <h3>{{item.data.name}}</h3>
      <h4>{{item.data.cuisines.join(", ")}}</h4>
      <h4>{{item.data.avgRating}} stars</h4>
      <h4>₹{{item.data.costForTwo / 100}} FOR TWO</h4>
      <h4>{{item.data.deliveryTime}} minutes</h4>
      <img   *ngIf="!!data && !!data.length && data.length > 0 && data[0].data.cloudinaryImageId"
      className="res-logo"
      alt="res-logo"
      src='../../favicon.ico'
    />
    </div>
      </li>

<!-- </div> -->

